registry=https://npm-974360507615.d.codeartifact.eu-west-1.amazonaws.com/npm/npm-dev/
//npm-974360507615.d.codeartifact.eu-west-1.amazonaws.com/npm/npm-dev/:always-auth=true
//npm-974360507615.d.codeartifact.eu-west-1.amazonaws.com/npm/npm-dev/:_authToken=${CODEARTIFACT_AUTH_TOKEN}